{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Change Password</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Change Password</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Change Password</h4>
                    {% if msg %}
                    <b style="color: blue">{{msg}}</b>
                    {%endif%}
                    <form action="{% url 'change-password' %}" method="post">
                        {% csrf_token %}
                            <div class="col-md-6 form-group">
                                <label>Old Password</label>
                                <input class="form-control" type="password" placeholder="Enter OLD Password" name="oldpassword">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>New Password</label>
                                <input class="form-control" type="password" placeholder="Enter New Password" name="newpassword">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>New Confirm Password</label>
                                <input class="form-control" type="password" placeholder="Enter Confirm New Password" name="cnewpassword">
                            </div>
                            <div class="card-footer border-secondary bg-transparent"> 
                                <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-2">Change Password</button>
                            </div>            
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

</body>
</html>
{% endblock%}