{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Add Product</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Add Product</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Add Product</h4>
                    {% if msg %}
                    <b style="color: blue">{{msg}}</b>
                    {%endif%}
                    <form action="{% url 'seller-add-product' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="">
                            <select class="" name="product_category">
                                <option>-----Sellect Product Categories-----</option>
                                <option value="Men">Men</option>
                                <option value="Women">Women</option>
                                <option value="Kids">Kids</option>
                                <option value="Accessories">Accessories</option>
                                <option value="Shoes">Shoes</option>
                                <option value="Goggles">Goggles</option>
                                <option value="Makeup">Makeup</option>
                                <option value="Furniture">Furniture</option>
                                <option value="Party Bulb">Party Bulb</option>
                                <option value="Kitchen tools">Kitchen tools</option>
                            </select>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Product Name</label>
                                <input class="form-control" type="text" placeholder="Enter Product Name" name="product_name">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Product_price</label>
                                <input class="form-control" type="number" placeholder="Enter Product_price" name="product_price">
                            </div>
                            
                            <div class="col-md-6 form-group">
                                <label>Product Describtion </label>
                                <input class="form-control" type="text" placeholder="Enter Product Describtion" name="product_desc"> 
                            </div>
                            
                            <div class="col-md-6 form-group">
                                <label>Product Image</label>
                                <input class="form-control" type="file" name="product_image" >
                            </div>
                            
                            <div class="card-footer border-secondary bg-transparent"> 
                                <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Add Product</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

</body>

</html>
{% endblock%}