{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
    
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Product Detail</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Product Detail</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{{product.product_image.url}}" alt="Image" style=" max-width:600px; max-height:500px; min-width:400px; min-height:400px;">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="{{product.product_image.url}}" alt="Image" style=" max-width:600px; max-height:500px; min-width:400px; min-height:400px;">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="{{product.product_image.url}}" alt="Image" style=" max-width:600px; max-height:500px; min-width:400px; min-height:400px;">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="{{product.product_image.url}}" alt="Image" style=" max-width:600px; max-height:500px; min-width:400px; min-height:400px;">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{product.product_name}}</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    
                </div>
                <h3 class="font-weight-semi-bold mb-4">{{product.product_price}}</h3>
                <p class="mb-4">{{product.product_desc}}</p>
                {%if request.session.email %}
                    {% if cart_flag == True %}
                    <a href="{% url 'remove-from-cart' pk=product.pk%}"><input type="button" value="Remove From cart" Class="btn btn-danger px-4" ></a>
                    {% else %}
                    <a href="{% url 'add-to-cart' pk=product.pk%}"><input type="button" value="Add To cart" Class="btn btn-primary px-4" ></a>
                    {% endif %}

                    {% if wishlist_flag == True %}
                    <a href="{% url 'remove-from-wishlist' pk=product.pk%}"><input type="button" value="Remove From Wishlist" Class="btn btn-danger px-4" ></a>
                    {% else %}
                    <a href="{% url 'add-to-wishlist' pk=product.pk%}"><input type="button" value="Add To Wishlist" Class="btn btn-primary px-4" ></a>
                    {% endif %}
                {%else%}
                <span>View More Feature Please</span>
                <a href="{% url 'login' %}"><input type="button" value="Login" Class="btn btn-primary px-4" ></a>
                {%endif%}
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">     
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->   

</body>
</html>
{% endblock%}